
<body>
	<div class="container " >
		<div class="col-lg-5 col-lg-offset-3 col-sm-5 col-sm-offset-3 center-align contact-form">
		<h1>Merci</h1>
		<h3>Votre courriel a été envoyé et nous vous répondrons dans les plus brefs délais possibles.</h3>
		<h3>Vous pouvez maintenant fermer cette fenêtre.</h3>
		</div>
	</div>
</body>