$yellow: #f9d713;
$lightBlue: #5cdbcf;
$pink: #ec448f;

$darkPurple: #54374d;
$lightPurple: #553a74;
$orangeyRed: #e6390b;
$teal: #5acf88;

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}


body {
	background-color: $lightPurple;
	margin-top: 50px;
}

h1{
	font-size: 5em;
}

.promo {
	color: #FFF;
	background-color: $lightPurple;
	padding-bottom: 50px;
	padding-top: 50px;
	h1{
		font-size: 5em;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	}
	
	h3{
		text-align: justify;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	}
}


.services {
	color: $lightPurple;
	background-color: $lightBlue;
	padding-bottom: 50px;
	padding-top: 50px;	
	p{
		text-align: justify;
		font-size: 1.5em;
	}
}

.biography{
	padding-bottom: 50px;
	padding-top: 50px;
	color: $lightBlue;
	background-color: $lightPurple;
	h2{
		color: $lightBlue;
		text-decoration:underline;

	}
	p{
		color: $lightBlue;

		font-size: 1.5em;
	}

}

.payment{
	padding-bottom: 50px;
	padding-top: 50px;
	color: $lightPurple;
	background-color: $lightBlue;

}

.contact {
	color: $lightBlue;
	background-color: $lightPurple;
	padding-bottom: 50px;
	padding-top: 50px;
	h1{
		font-size: 5em;
	}
	
	h3{
	}
}


@media (max-width: 978px) {
    .container {
      padding:0;
  }
}


.line-separator{
	
	height:1px;


	border-bottom:1px solid $lightBlue;

}

.pad{
	padding-bottom: 50px;

}

.white{
	color:white;
}

.navigation-element{
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: $lightBlue;
}

.navbar-default {
    background-color: $darkPurple;
    border-color: #E7E7E7;
}

.btn-pay{
	background-color: $orangeyRed;
	color: #FFF;
	font-size: 2em;
}

.underline{
	text-decoration:underline;
}

.right-align{
	text-align:right;
}

.center-align{
	text-align:center;
}

.navbar-left{}
.navbar-right{}