<header class = "navbar navbar-fixed-top">
	<div class= "navbar-inner">
		<div class="container">
				<ul class = "nav pull-right ">
				<li><%= link_to "What we offer", root_path, id: "navigation-element" %></li>
				<li><%= link_to "Our Tutors", help_path, id: "navigation-element" %></li>
				<li><%= link_to "Pricing", "#",  id: "navigation-element" %></li>
				<li><%= link_to "Contact Us", new_contact_path,  id: "navigation-element" %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>