<header>
	<nav class = "navbar navbar-custom navbar-fixed-top" role = "navigation">
		<div class="container">
				<ul class = "nav navbar-nav navbar-left">
					<li><%= link_to "Services", root_path + "#services", class: "navigation-element" %></li>
					<li><%= link_to "Nos tuteurs", root_path + "#biography", class: "navigation-element" %></li>
					<li><%= link_to "Effectuer un paiement", root_path + "#pay",  class: "navigation-element" %></li>
				</ul>
				<ul class = "nav navbar-nav navbar-right ">
					<li><%= link_to "Contact", root_path + "#contact",  class: "navigation-element" %></li>
				</ul>
		</div>
	</nav>
</header>